{% extends "modules/base.html" %}

{% block content %}
<div class="flex flex-1 flex-col h-screen px-9" >
<div class="flex justify-between">    
<div class="text-sm breadcrumbs">
  <ul>
    <li><a href="/" class="text-gray-900">Home</a></li> 
    <li><a class="text-gray-900">{{module.name}}</a></li> 
  </ul>
</div>
<div class="flex pt-1">
    <a class="link link-hover" href="/feedback">Feedback</a>
</div>
</div>
    {% for topic in topics %}
    <div class="collapse collapse-arrow collapse-title my-4 border-base-300 border-2">
        <input type="radio" name="module-accordion" /> 
            <div class="collapse-title text-gray-900 font-bold text-xl mb-2">
                {{topic.name}}
          </div>
        <div class="collapse-content"> 
        <p class="text-gray-700 text-base">{{topic.description}}</p>
        </div>
    </div> 
    {% endfor %}
</div>

{% endblock content %}